extends layout

block content
	#resort-list-wrapper.span2
		#resort-list-search-box-wrapper
			input#resort-list-search-box(value="", placeholder="search")
			i.icon-search#resort-list-search-icon
		#resort-list
	#resort-data-pane.span10
		#resort-name &nbsp;
		#resort-data Please click a ski mountain on the left


block bodyscripts
	//- script(async src="js/app.js")