extends layout

block content
  #resort-list-wrapper.span2
    #compare-resorts-link Compare All Resorts
    #resort-list-search-box-wrapper
      input#resort-list-search-box(value="", placeholder="search")
      i.icon-search#resort-list-search-icon
    //- #resort-list-header resorts
    #resort-list
  #resort-data-pane.span10
    #resort-name &nbsp;
    #state-picker.btn-group(data-toggle="buttons-checkbox", style="display:none;")
    #resort-data <div class="slick-loading-message"><span>L</span><span>O</span><span>A</span><span>D</span><span>I</span><span>N</span><span>G</span></div>


block bodyscripts
  //- script(async src="js/app.js")