extends layout

block content
	#resort-list.span2
	#resort-data-pane.span10
		#resort-name &nbsp;
		#resort-data Please click a ski mountain on the left


block bodyscripts
	script(async src="js/app.js")