@import "_mixins.styl"
@import "nib"

// ----------------------------------------------------------------------------
// Styles
// ----------------------------------------------------------------------------

html, body
  margin 0
  padding 0

body
	background-image url('../img/wall4.png')
	user-select none
	font-family "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif !important
	-webkit-font-smoothing antialiased

#app
	padding-top 20px

#resort-list
	margin-top 40px

#resort-data
	position relative
	.rickshaw_legend
		color: #333
		background-color: #eee
		position absolute
		top 0
		left 0
		.action
			color #333


.this-season-base
	padding 5px
	font-size 16px

.past-season-base
	color #aaa
	padding 0 5px
	font-size 14px

#resort-name
	font-size 40px
	font-weight bold
	line-height 1

.resort-list-item
	margin 5px
	cursor pointer
	transition all 0.5s
	&:hover, &.resort-list-item-selected
		font-weight bold
		padding-left 5px
