@import "nib"
@import "rickshaw.min.css"
@import "bootstrap-combined.min.css"

// ----------------------------------------------------------------------------
// Styles
// ----------------------------------------------------------------------------

html, body
  margin 0
  padding 0

body
  background-image url('../img/wall4.png')
  user-select none
  font-family "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif !important
  -webkit-font-smoothing antialiased

#app
  padding-top 20px
.detail-swatch 
  display inline-block
  height 10px
  width 10px
  margin-right 5px

#resort-list-wrapper
  margin-top 25px

#resort-list-search-box-wrapper
  position relative

#resort-list-search-icon
  position absolute
  bottom 5px
  left 2px

#compare-resorts-link, #good-bad-year-link
  margin 15px 0

#resort-list-header
  font-size 12px
  color #aaa
  border-bottom 1px solid #ccc

#resort-list-search-box
  background-color transparent
  border-top none
  border-left none
  border-right none
  border-bottom 1px dotted #aaa
  width 90%
  padding-left 20px
  margin-
  &:focus
    outline none
    background-color rgba(0,0,0,0.4)
    transition background-color 0.5s
    color: white


#resort-data
  position relative
  .rickshaw_legend
    color: #333
    background-color transparent
    position absolute
    top 0
    left 0
    .action
      color #333
      opacity 1
      &:hover
        text-decoration none
    .label
      font-weight bold

  .x_label
    right 0
    opacity 0.8
    padding 5px
    margin-right 10px

.chart-hover-date
  padding 5px 5px 10px
  font-size 16px
  font-weight bold
  color #aaa

.slick-loading-message
  text-align center
  text-transform uppercase
  font-size 4.6875em
  color transparent
  letter-spacing 0.01em
  margin-top 60px
  font-weight bold
  span
    text-shadow: 0 0 2px rgba(204, 208, 212,0.9),
    0 15px 25px rgba(0, 0, 0, 0.3),
    0 -2px 3px rgba(0, 0, 0, 0.1),
    0 -5px 10px rgba(255, 255, 255, 0.5),
    0 5px 10px rgba(0, 0, 0, 0.3),
    0 3px 4px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0.45);

    animation: slick-loading 0.85s ease-in-out infinite alternate
    
    for child in 2 3 4 5 6 7
      &:nth-child({child})
        animation-delay 0.15s * (child - 1)

@keyframes slick-loading
  to {text-shadow:
    0 0 2px rgba(204, 208, 212,0.2),
    0 0 3px rgba(0, 0, 0, 0.02),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(255, 255, 255, 0)
  }


.this-season-base, .past-season-base
  .lowest-base-label
    color red
  .highest-base-label
    color green
  .lowest-base-label, .highest-base-label
    font-size 12px

.this-season-base
  padding 5px 5px 0
  font-size 16px

.past-season-base
  color #aaa
  padding 0 5px
  font-size 14px

.this-season-base-comparison-stats
  font-size 14px
  padding 0 5px 10px
  font-style italic
  color #eee
  .base-comparison-above-below
    font-weight bold

#resort-name
  font-size 40px
  font-weight bold
  line-height 1

.resort-list-item
  margin 5px

.resort-list-item, #compare-resorts-link, #good-bad-year-link
  cursor pointer
  transition all ease-in-out 0.5s
  &.slide-down
    height 0
    margin 0
    color transparent
    transform translateX(-300px)
  &:hover, &.resort-list-item-selected
    font-weight bold
    padding-left 5px
