@import "_mixins.styl"
@import "nib"

// ----------------------------------------------------------------------------
// Styles
// ----------------------------------------------------------------------------

html, body
  margin 0
  padding 0

body
	background-image url('../img/wall4.png')
	user-select none
	font-family "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif !important
	-webkit-font-smoothing antialiased

#app
	padding-top 20px

#resort-list
	margin-top 40px

#resort-data
	position relative
	.rickshaw_legend
		color: #333
		background-color transparent
		position absolute
		top 0
		left 0
		.action
			color #333
			opacity 1
			&:hover
				text-decoration none
		.label
			font-weight bold

	.x_label
		bottom 0
		opacity 0.9

.chart-hover-date
	padding 5px 5px 10px
	font-size 16px
	font-weight bold

.this-season-base, .past-season-base
	.lowest-base-label
		color red
	.highest-base-label
		color green
	.lowest-base-label, .highest-base-label
		font-size 12px

.this-season-base
	padding 5px 5px 0
	font-size 16px

.past-season-base
	color #aaa
	padding 0 5px
	font-size 14px

.this-season-base-comparison-stats
	font-size 14px
	padding 0 5px 10px
	font-style italic
	color #eee
	.base-comparison-above-below
		font-weight bold

#resort-name
	font-size 40px
	font-weight bold
	line-height 1

.resort-list-item
	margin 5px
	cursor pointer
	transition all 0.5s
	&:hover, &.resort-list-item-selected
		font-weight bold
		padding-left 5px
